{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Board detail{% endblock title %}

{% block content %}
    <div id="mySidenav" class="sidenav">
        <div class="sticky-top border-bottom border-light">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="menu">
                <p class="text-right text-nowrap mb-0 py-0 menu-item">
                    <button class="btn btn-link text-danger py-0" onclick="leaveBoard()">
                        {% if user == board.owner %}
                            Archive this board
                        {% else %}
                            Leave Board
                        {% endif %}
                    </button>
                </p>
                <p class="text-right text-nowrap mb-0 menu-item" data-title="Activity Log" data-toggle=".activity-log">
                    <button class="btn btn-link text-info py-0">
                        Activity Log
                    </button>
                </p>
                <p class="text-right text-nowrap mb-0 menu-item" data-title="Archived Lists" data-toggle=".archived-lists">
                    <button class="btn btn-link text-info py-0">
                        Archived Lists
                    </button>
                </p>
                <p class="text-right text-nowrap mb-0 menu-item" data-title="Archived Cards" data-toggle=".archived-cards">
                    <button class="btn btn-link text-info py-0">
                        Archived Cards
                    </button>
                </p>
                <p class="text-right text-nowrap mb-0">
                    <button class="btn btn-link text-info py-0" onclick="closeNav(); print()">
                        Print or save
                    </button>
                </p>
                <p class="lead text-center text-nowrap menu-title">Activity Log</p>
            </div>
        </div>
        <ul class="activity-log menu-selector list-group list-group-flush"></ul>
        <ul class="archived-lists menu-selector list-group list-group-flush" style="display: none;"></ul>
        <ul class="archived-cards menu-selector list-group list-group-flush" style="display: none;"></ul>
    </div>

    <!-- Card Modal -->
    <div class="modal fade" id="card-modal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                    <div class="form-group">
                        {% for label in board.label_set.all %}
                            <label for="label-{{label.pk}}" class="btn btn-{{label.color}} border border-dark">
                                {{label.text}} <input type="checkbox" id="label-{{label.pk}}" data-id="{{label.pk}}" class="badgebox d-none">
                                <span class="badge badge-light border border-dark">&check;</span>
                            </label>
                        {% endfor %}
                        <textarea class="form-control new-comment" placeholder="Write a comment..."></textarea>
                    </div>
                    <button class="btn btn-success save-btn mb-3" onclick="saveComment()">Save</button>
                    <div>
                        <p class="lead mb-2">Comments</p>
                        <ul class="card-comments list-group"></ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Labels Modal -->
    <div class="modal fade" id="labels-modal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Labels</h4>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" placeholder="Label text here..." class="new-label-text-inp form-control" id="inputCity">
                        </div>
                        <div class="form-group col-md-4">
                            <select class="new-label-color-select form-control">
                                <option value="primary" selected>
                                    Primary
                                </option>
                                <option value="secondary">Secondary</option>
                                <option value="success">Success</option>
                                <option value="danger">Danger</option>
                                <option value="warning">Warning</option>
                                <option value="info">Info</option>
                                <option value="light">Light</option>
                                <option value="dark">Dark</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <input type="submit" class="form-control btn btn-success" id="inputZip" value="Add" onclick="addLabel()">
                        </div>
                        <div class="error-message mx-auto">                            
                        </div>
                    </div>
                    <div class="board-labels">
                        {% for label in board.label_set.all %}
                            <span class="badge badge-{{label.color}} badge-pill">
                                <span class="align-middle">{{label.text}}</span>
                                <span class="ml-1 badge badge-pill badge-light text-dark" onclick="deleteLabel(event, {{label.pk}})">x</span>
                            </span>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="lists">
        <div class="panel d-flex justify-content-between align-items-center">
            <div class="form-group form-inline mb-0">            
                <input id="invite-email" type="email" class="form-control mr-2" name="invite_email" placeholder="Enter email to invite" />
                <button class="btn btn-primary form-control" onclick="inviteUser({{board.pk}})">Invite</button>
                <button class="btn btn-link" data-toggle="modal" data-target="#labels-modal">Labels</button>
            </div>
            <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; More</span>
        </div>
        
        <ul class="list_list">
            <li class="list card bg-info text-white m-1 align-self-start">
                <form class="card-body text-center" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-success border border-white" type="submit" value="Add list" />
                </form>
            </li>
            <div class="list_set d-flex">
                {% for list in board.list_set.all %}
                    {% if not list.is_archived %}
                        <li class="list card bg-info text-white m-1 align-self-start" data-id="{{list.pk}}">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <span onclick="editTitle(event, '{{list.title}}', {{list.pk}}, setListTitle)">{{list.title|title}}</span>
                                <button class="btn btn-danger btn-sm" onclick="deleteList({{list.pk}})">X</button>
                            </div>
                            <div class="card-body">
                                <ul class="card_list text-dark pl-0" data-id="{{list.pk}}">
                                    {% for card in list.card_set.all %}
                                        {% if not card.is_archived %}
                                            <li class="card mb-2" onclick="showCardModal({{list.pk}}, {{card.pk}}, '{{card.title|title}}')" data-id="{{card.pk}}">
                                                {% if card.labels.all %}
                                                    <div class="cards-label card-header">
                                                        {% for label in card.labels.all %}
                                                            <span class="badge badge-{{label.color}} badge-pill">
                                                                <span class="align-middle">{{label.text}}</span>
                                                            </span>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                                <div class="card-body d-flex align-items-center justify-content-between">
                                                    <span class="card-title mb-0" data-id="{{card.pk}}">{{card.title|title}}</span>
                                                    <button class="btn btn-link text-danger p-0" onclick="deleteCard(event, {{list.pk}}, {{card.pk}})">X</button>
                                                </div>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                <input type="text" class="form-control" placeholder="Add card" onkeypress="addCard(event, {{list.pk}})" />
                            </div>

                        </li>
                    {% endif %}
                {% endfor %}
            </div>
        </ul>
    </div>
{% endblock content %}

{% block app_script %}
    <script>
        const userPK = {{user.pk}}
    </script>
    <script>
        const comment = $('#card-modal .new-comment')

        $('.badgebox').on('click', e => {
            const $checkbox = $(e.target)
            const labelPK = $checkbox.data('id')
            const cardPK = $('#card-modal').data('id')
            const isChecked = $checkbox[0].checked
            let url = 'card-add-label/'

            if (!isChecked) {
                url = 'card-remove-label/'
            } 

            $.ajax({
                type: 'POST',
                url,
                data: { labelPK, cardPK },
                contentType: 'application/json',
                success: function (data, textStatus, xhr) {
                    
                },  
                error: function (xhr, textStatus, errorThrown) {  
                    console.log('Error in Operation');  
                }  
            });  
        })

        $(".menu-item").on("click", (e) => {
            e.preventDefault();
            const parent = $(e.target).parent()
            const selector = parent.data("toggle");
            const menuTitle = parent.data("title")

            $(".menu-selector").hide();
            $(".menu-title").html(menuTitle)
            $(selector).show();            
        });

        $('#card-modal').modal({
            backdrop: 'static',
            keyboard: false,
            show: false,
        });

        $('#card-modal').on('hidden.bs.modal', function () {
            comment.val('')
        })

        $('.modal').on('hidden.bs.modal', function () {
            window.location.href = ''
        })

        
        $( ".card_list" ).each(function( index, el ) {
            Sortable.create(el, { 
                animation: 150, 
                group: 'cards', 
                ghostClass: 'bg-warning',
                store: {
                    set: function (sortable) {
                        var order = sortable.toArray();
                        const listPK = $(sortable.el).data('id')
                        console.log(order)
                        $.ajax({
                            type: 'POST',
                            url: 'lists/' + listPK + '/cards/set-order/',
                            data: { order },
                            contentType: 'application/json',
                            success: function (data, textStatus, xhr) {  
                                console.log(data)
                            },  
                            error: function (xhr, textStatus, errorThrown) {  
                                console.log('Error in Operation');  
                            }  
                        });
                    }
                },
                onSort: function(evt) {
                    const fromListPK = $(evt.from).data('id')
                    const toListPK = $(evt.to).data('id')
                    const cardPK = $(evt.item).data('id')

                    if (fromListPK !== toListPK) {
                        $.ajax({
                            type: 'PUT',
                            url: 'lists/' + fromListPK + '/cards/' + cardPK + '/set-list/',
                            data: { to_list_pk: toListPK },  
                            contentType: 'application/json',
                            success: function (data, textStatus, xhr) {  
                                console.log(data)
                            },  
                            error: function (xhr, textStatus, errorThrown) {  
                                console.log('Error in Operation');  
                            }  
                        });
                    }
                }
            });
        });

        $( ".list_set" ).each(function( index, el ) {
            Sortable.create(el, { 
                animation: 150, 
                group: 'lists', 
                ghostClass: 'bg-warning',
                store: {
                    set: function (sortable) {
                        var order = sortable.toArray();
                        console.log(order)
                        $.ajax({
                            type: 'POST',
                            url: 'lists/set-order/',
                            data: { order },  
                            contentType: 'application/json',
                            success: function (data, textStatus, xhr) {  
                                // comment.val('')
                                // fetchCard(listPK, cardPK)
                                // fetchActivityLog()
                                console.log(data)
                            },  
                            error: function (xhr, textStatus, errorThrown) {  
                                console.log('Error in Operation');  
                            }  
                        });    
                    }
                },
                onSort: function(evt) {

                }
            });
        });

        fetchActivityLog()
        fetchArchivedLists()
        fetchArchivedCards()

        function addLabel() {
            const labelText = $('#labels-modal .new-label-text-inp').val()
            const labelColor = $('#labels-modal .new-label-color-select').val()
            const $boardLabels = $('#labels-modal .board-labels')
            const $boardLabelsErrMsg = $('#labels-modal .error-message').html('')
            $.ajax({
                type: 'POST',
                url: 'add-label/',
                data: {
                    text: labelText,
                    color: labelColor
                },
                contentType: 'application/json',
                success: function ({label, status, message}, textStatus, xhr) {
                    console.log(status)
                    if (status === 'success') {
                        $boardLabels.append(`
                            <span class="badge badge-${label.color} badge-pill">
                                <span class="align-middle">${label.text}</span>
                                <span class="ml-1 badge badge-pill badge-light text-dark" onclick="deleteLabel(event, ${label.id})">x</span>
                            </span>
                        `)
                    } else {
                        $boardLabelsErrMsg.html(`
                            <div class="alert alert-danger" role="alert">
                                ${message}
                            </div>
                        `)
                    }
                },  
                error: function (xhr, textStatus, errorThrown) {  
                    console.log('Error in Operation');  
                }  
            });  
        }

        function deleteLabel(e, pk) {
            $.ajax({
                type: 'DELETE',
                url: 'delete-label/',
                data: { pk },
                contentType: 'application/json',
                success: function (data, textStatus, xhr) {
                   // remove label in labels modal
                   $(e.target).parent().remove()                   
                   // remove label in cards modal
                   $(`#card-modal #label-${pk}`).parent().remove()
                },  
                error: function (xhr, textStatus, errorThrown) {  
                    console.log('Error in Operation');  
                }  
            });
        }

        function leaveBoard() {
            $.ajax({
                type: 'POST',
                url: 'leave-board/',
                contentType: 'application/json',
                success: function (data, textStatus, xhr) {  
                   window.location.href = data.redirect
                },  
                error: function (xhr, textStatus, errorThrown) {  
                    console.log('Error in Operation');  
                }  
            });  
        }

        function editTitle(e, title, pk, cb, ...args) {
            e.stopPropagation()
            e.preventDefault()
            const titleWrapper = $(e.target)

            if (!!titleWrapper.find('input')[0]) {
                return
            }

            const setTitleCB = () => {
                const newVal = inp.val().trim()
                const titleCase = (str) => {
                    return str.toLowerCase().split(' ').map(function(word) {
                        return (word.charAt(0).toUpperCase() + word.slice(1));
                    }).join(' ');
                }
                titleWrapper.html(titleCase(newVal))
                cb(titleCase(newVal), pk, ...args)
            }

            const inp = $(`<input value="${title}" >`)
                .focusout(setTitleCB)
                .keypress(e => e.which === 13 ? setTitleCB() : null)

            titleWrapper.html(inp)
            inp.focus().select()
        }

        function setCardTitle(title, pk, ...args) {
            const listPK = args[0]
            $.ajax({
                type: 'PUT',
                url: `lists/${listPK}/cards/${pk}/set-title/`,
                data: { title },  
                contentType: 'application/json',
                success: function (data, textStatus, xhr) {  
                    $('.card_list .card-title')
                        .find(`[data-id='${pk}']`)
                        .html(title)

                    $(`span.card-title[data-id='${pk}']`)[0].innerHTML = title
                },  
                error: function (xhr, textStatus, errorThrown) {  
                    console.log('Error in Operation');  
                }  
            });  
        }

        function setListTitle(title, pk) {
            $.ajax({
                type: 'PUT',
                url: `lists/${pk}/set-title/`,
                data: { title },  
                contentType: 'application/json',
                success: function (data, textStatus, xhr) {  
                    console.log(data)
                },  
                error: function (xhr, textStatus, errorThrown) {  
                    console.log('Error in Operation');  
                }  
            });  
        }

        function saveComment(cardPK, listPK) {
            $.ajax({
                type: 'PUT',
                url: 'lists/' + listPK + '/cards/',
                data: { pk: cardPK, comment: comment.val() },  
                contentType: 'application/json',
                success: function (data, textStatus, xhr) {  
                    comment.val('')
                    fetchCard(listPK, cardPK)
                    fetchActivityLog()
                },  
                error: function (xhr, textStatus, errorThrown) {  
                    console.log('Error in Operation');  
                }  
            });    
        }

        function deleteComment(listPK, cardPK, commentPK) {
            $.ajax({
                type: 'DELETE',
                url: 'lists/' + listPK + '/cards/' + cardPK + '/comments/',
                data: { pk: commentPK },  
                contentType: 'application/json',
                success: function (data, textStatus, xhr) {  
                    // window.location.href = data.redirect
                    fetchCard(listPK, cardPK)
                    fetchActivityLog()
                },  
                error: function (xhr, textStatus, errorThrown) {  
                    console.log('Error in Operation');  
                }  
            });
        }

        function showCardModal(listPK, cardPK, title) {
            $('#card-modal').data('id', cardPK)
            $("#card-modal .modal-header")
                .html(`<span onclick="editTitle(event, '${title}', ${cardPK}, setCardTitle, ${listPK})">${title}</span>`)
            $("#card-modal .save-btn").attr("onclick", `saveComment(${cardPK}, ${listPK})`);

            fetchCard(listPK, cardPK)
        }

        function fetchActivityLog() {
            $.ajax({
                type: 'GET',
                url: 'activity-log/',
                contentType: 'application/json',
                success: function (logs, textStatus, xhr) {
                    let action = ''
                    $('#mySidenav .activity-log').html('')
                    logs.forEach(log => {
                        switch(log.content_type) {
                            case 'List':
                                action = `${log.content} list.`
                                break
                            case 'Card':
                                action = `${log.content} card on ${log.target} list.`
                                break
                            case 'CardComment':
                                action = `<div class="badge badge-light">${log.content}</div> on ${log.target} card.`
                        }
                        $('#mySidenav .activity-log').append(
                            `<li class="list-group-item d-flex justify-content-between 
                                align-items-center bg-transparent border-light text-nowrap">
                                <div>${log.actor} ${log.verb} ${action}</div></li>`)
                    })
                },  
                error: function (xhr, textStatus, errorThrown) {  
                    console.log('Error in Operation');  
                }  
            });
        }

        function fetchArchivedLists() {
            $.ajax({
                type: 'GET',
                url: 'archived-lists/',
                contentType: 'application/json',
                success: function (data, textStatus, xhr) {
                    $('#mySidenav .archived-lists').html('')
                    const { archived_lists } = data
                    archived_lists.forEach(list => {
                        $('#mySidenav .archived-lists').append(
                        `<li class="list-group-item d-flex justify-content-between 
                            align-items-center bg-transparent border-light text-nowrap">
                            <div>${list.title}</div>
                            <button class="btn btn-success btn-sm" onclick="unarchiveList(${list.id})">Send to board</button>
                        </li>`)
                    })
                },  
                error: function (xhr, textStatus, errorThrown) {  
                    console.log('Error in Operation');
                    if (xhr.status === 404) {
                        $('#mySidenav .archived-lists')
                            .append('<p class="text-center font-italic mt-2">No archived lists</p>')
                    }
                }  
            });
        }

        function fetchArchivedCards() {
            $.ajax({
                type: 'GET',
                url: 'archived-cards/',
                contentType: 'application/json',
                success: function (data, textStatus, xhr) {
                    $('#mySidenav .archived-cards').html('')
                    const { archived_cards } = data
                    archived_cards.forEach(card => {
                        $('#mySidenav .archived-cards').append(
                        `<li class="list-group-item d-flex justify-content-between 
                            align-items-center bg-transparent border-light text-nowrap">
                            <div>${card.title}</div>
                            <button class="btn btn-success btn-sm" onclick="unarchiveCard(${card.id})">Send to board</button>
                        </li>`)
                    })
                    console.log(data)
                },  
                error: function (xhr, textStatus, errorThrown) {  
                    console.log('Error in Operation');
                    if (xhr.status === 404) {
                        $('#mySidenav .archived-cards')
                            .append('<p class="text-center font-italic mt-2">No archived cards</p>')
                    }
                }  
            });
        }

        function fetchCard(listPK, cardPK) {
            $.ajax({
                type: 'GET',
                url: 'lists/' + listPK + '/cards/',
                data: { pk: cardPK },  
                contentType: 'application/json',
                success: function (data, textStatus, xhr) {  
                    // window.location.href = data.redirect
                    //$("#card-modal .card-comments").html(comments)
                    const comments = data.card_comments
                    const labels = data.card_labels
                    const labels_PK = labels.map(label => label.id)
                    $('#card-modal .card-comments').html('')
                    $('#card-modal .badgebox').each((idx, e) => {
                        if (labels_PK.includes($(e).data('id'))) {
                            e.checked = true
                        } else {
                            e.checked = false
                        }
                    })

                    comments.forEach(c => {
                        if (!c.is_archived) {
                            const deleteBtn = c.frm_id === userPK ? 
                                `<button class="btn btn-link text-danger" 
                                    onclick="deleteComment(${listPK}, ${c.card_id}, ${c.id})">delete</button>` : ''
                                
                            const replyBtn = c.frm_id !== userPK ?
                                `<button class="btn btn-link text-info" 
                                    onclick="onReply('${c.frm_username}', ${c.frm_id})">reply</button>` : ''
                            
                            $('#card-modal .card-comments').append(
                                `<li class="list-group-item d-flex justify-content-between align-items-center">
                                    <span><strong>${c.frm_username}:</strong>${c.comment}</span>
                                    ${replyBtn}${deleteBtn}</li>`)
                        }
                    })

                    console.log(data)
                    $('#card-modal').modal('show');
                },  
                error: function (xhr, textStatus, errorThrown) {  
                    console.log('Error in Operation');  
                }  
            });
        }

        function unarchiveList(pk) {
            $.ajax({
                type: 'PUT',
                url: 'unarchive-list/',
                data: { pk },  
                contentType: 'application/json',
                success: function (data, textStatus, xhr) {
                    window.location.href = ''
                },  
                error: function (xhr, textStatus, errorThrown) {  
                    console.log('Error in Operation');  
                }  
            });
        }

        function unarchiveCard(pk) {
            $.ajax({
                type: 'PUT',
                url: 'unarchive-card/',
                data: { pk },  
                contentType: 'application/json',
                success: function (data, textStatus, xhr) {
                    window.location.href = ''
                },  
                error: function (xhr, textStatus, errorThrown) {  
                    console.log('Error in Operation');  
                }  
            });
        }

        function onReply(username, id) {
            comment.val(`@${username} `).focus()
        }

        function inviteUser(e) {
            var email = $('#invite-email').val()
            $.ajax({
                type: 'POST',
                url: 'invites/new/',
                data: { to: email },  
                contentType: 'application/json',
                success: function (data, textStatus, xhr) {  
                    // window.location.href = data.redirect
                    console.log(data)
                },  
                error: function (xhr, textStatus, errorThrown) {  
                    console.log('Error in Operation');  
                }  
            });
            
        }

        function deleteList(listPK) {
            $.ajax({
                type: 'DELETE',
                data: { pk: listPK },  
                contentType: 'application/json',
                success: function (data, textStatus, xhr) {  
                    window.location.href = data.redirect
                },  
                error: function (xhr, textStatus, errorThrown) {  
                    console.log('Error in Operation');  
                }  
            });
        }

        function deleteCard(e, listPK, cardPK) {
            e.stopPropagation()
            $.ajax({
                type: 'DELETE',
                url: 'lists/' + listPK + '/cards/',
                data: { pk: cardPK },  
                contentType: 'application/json',
                success: function (data, textStatus, xhr) {  
                    window.location.href = data.redirect
                },  
                error: function (xhr, textStatus, errorThrown) {  
                    console.log('Error in Operation');  
                }  
            });
        }

        function addCard(e, listPK) {
            var cardTitle = e.target.value
            if (e.keyCode === 13) {
                $.ajax({
                    type: 'POST',
                    url: 'lists/' + listPK + '/cards/',
                    data: { title: cardTitle },  
                    contentType: 'application/json',
                    success: function (data, textStatus, xhr) {  
                        window.location.href = data.redirect
                    },  
                    error: function (xhr, textStatus, errorThrown) {  
                        console.log('Error in Operation');  
                    }  
                });
            }
        }

        function openNav() {
            document.getElementById("mySidenav").style.width = "400px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script> 
{% endblock app_script %}
