{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Home{% endblock title %}

{% block content %}
    <div class="boards">
        <div class="text-center w-25 mx-auto my-5">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-success mx-auto" type="submit" value="Add board" />
            </form>
        </div>
        <ul class="board_list">
            {% for board in boards %}
                <li class="board card">
                    <a href="{% url 'boards:board_detail' pk=board.pk %}">
                        <h5 class="card-title">{{board.title}}</h5>
                    </a>
                    {% if user == board.owner %}
                        <button type="button" class="btn btn-link btn-sm text-danger" onclick="deleteBoard({{board.pk}})">remove</button>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>   
{% endblock content %}

{% block app_script %}
    <script>
        function deleteBoard(boardPK) {
            $.ajax({
                type: 'DELETE',
                data: { pk: boardPK },  
                contentType: 'application/json',
                success: function (data, textStatus, xhr) {  
                    window.location.href = data.redirect
                },  
                error: function (xhr, textStatus, errorThrown) {  
                    console.log('Error in Operation');  
                }  
            });
        }
    </script> 
{% endblock app_script %}