{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Board detail{% endblock title %}

{% block content %}
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <p class="lead text-center text-nowrap">Activity log</p>
        <ul class="activity-log list-group list-group-flush"></ul>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="card-modal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                    <div class="form-group">
                        <textarea class="form-control new-comment" placeholder="Write a comment..."></textarea>
                    </div>
                    <button class="btn btn-success save-btn mb-3" onclick="saveComment()">Save</button>
                    <div>
                        <p class="lead mb-2">Comments</p>
                        <ul class="card-comments list-group"></ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="lists">
        <div class="panel d-flex justify-content-between align-items-center">
            <div class="form-group form-inline mb-0">            
                <input id="invite-email" type="email" class="form-control mr-2" name="invite_email" placeholder="Enter email to invite" />
                <button class="btn btn-primary form-control" onclick="inviteUser({{board.pk}})">Invite</button>
            </div>
            <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; More</span>
        </div>
        
        <ul class="list_list">
            <li class="list card bg-info text-white m-1 align-self-start">
                <form class="card-body text-center" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-success border border-white" type="submit" value="Add list" />
                </form>
            </li>
            {% for list in board.list_set.all %}
                <li class="list card bg-info text-white m-1 align-self-start">
                    
                    <div class="card-header d-flex align-items-center justify-content-between">
                        {{list.title|title}}
                        <button class="btn btn-danger btn-sm" onclick="deleteList({{list.pk}})">X</button>
                    </div>
                    <ul class="card_list card-body text-dark">
                        {% for card in list.card_set.all %}
                            <li class="card mb-2" onclick="showCardModal({{list.pk}}, {{card.pk}}, '{{card.title|title}}')">
                                <div class="card-body d-flex align-items-center justify-content-between">
                                    {{card.title|title}}
                                    <button class="btn btn-link text-danger p-0" onclick="deleteCard(event, {{list.pk}}, {{card.pk}})">X</button>
                                </div>
                            </li>
                        {% endfor %}
                        <li class="card form-group mb-0">
                            <input type="text" class="form-control" placeholder="Add card" onkeypress="addCard(event, {{list.pk}})" />
                        </li>
                    </ul>

                </li>
            {% endfor %}
        </ul>
    </div>    
{% endblock content %}

{% block app_script %}
    <script>
        const userPK = {{user.pk}}
    </script>
    <script>
        const comment = $('#card-modal .new-comment')

        $('#card-modal').modal({
            backdrop: 'static',
            keyboard: false,
            show: false,
        });

        $('#card-modal').on('hidden.bs.modal', function () {
            comment.val('') 
        })

        fetchActivityLog()

        function saveComment(cardPK, listPK) {
            $.ajax({
                type: 'PUT',
                url: 'lists/' + listPK + '/cards/',
                data: { pk: cardPK, comment: comment.val() },  
                contentType: 'application/json',
                success: function (data, textStatus, xhr) {  
                    comment.val('')
                    fetchCard(listPK, cardPK)
                    fetchActivityLog()
                },  
                error: function (xhr, textStatus, errorThrown) {  
                    console.log('Error in Operation');  
                }  
            });    
        }

        function deleteComment(listPK, cardPK, commentPK) {
            $.ajax({
                type: 'DELETE',
                url: 'lists/' + listPK + '/cards/' + cardPK + '/comments/',
                data: { pk: commentPK },  
                contentType: 'application/json',
                success: function (data, textStatus, xhr) {  
                    // window.location.href = data.redirect
                    fetchCard(listPK, cardPK)
                    fetchActivityLog()
                },  
                error: function (xhr, textStatus, errorThrown) {  
                    console.log('Error in Operation');  
                }  
            });
        }

        function showCardModal(listPK, cardPK, title) {
            $("#card-modal .modal-header").html(title)
            $("#card-modal .save-btn").attr("onclick", `saveComment(${cardPK}, ${listPK})`);

            fetchCard(listPK, cardPK)
        }

        function fetchActivityLog() {
            $.ajax({
                type: 'GET',
                url: 'activity-log/',
                contentType: 'application/json',
                success: function (logs, textStatus, xhr) {
                    let action = ''
                    $('#mySidenav .activity-log').html('')
                    logs.forEach(log => {
                        switch(log.content_type) {
                            case 'List':
                                action = `${log.content} list.`
                                break
                            case 'Card':
                                action = `${log.content} card on ${log.target} list.`
                                break
                            case 'CardComment':
                                action = `<div class="badge badge-light">${log.content}</div> on ${log.target} card.`
                        }
                        $('#mySidenav .activity-log').append(
                            `<li class="list-group-item d-flex justify-content-between 
                                align-items-center bg-transparent border-light text-nowrap">
                                <div>${log.actor} ${log.verb} ${action}</div></li>`)
                    })
                },  
                error: function (xhr, textStatus, errorThrown) {  
                    console.log('Error in Operation');  
                }  
            });
        }

        function fetchCard(listPK, cardPK) {
            $.ajax({
                type: 'GET',
                url: 'lists/' + listPK + '/cards/',
                data: { pk: cardPK },  
                contentType: 'application/json',
                success: function (data, textStatus, xhr) {  
                    // window.location.href = data.redirect
                    //$("#card-modal .card-comments").html(comments)
                    const comments = data.card_comments
                    $('#card-modal .card-comments').html('')
                    comments.forEach(c => {
                        const deleteBtn = c.frm_id === userPK ? 
                            `<button class="btn btn-link text-danger" 
                                onclick="deleteComment(${listPK}, ${c.card_id}, ${c.id})">delete</button>` : ''
                                
                        const replyBtn = c.frm_id !== userPK ?
                            `<button class="btn btn-link text-info" 
                                onclick="onReply('${c.frm_username}', ${c.frm_id})">reply</button>` : ''
                        
                        $('#card-modal .card-comments').append(
                            `<li class="list-group-item d-flex justify-content-between align-items-center">
                                <span><strong>${c.frm_username}:</strong>${c.comment}</span>
                                ${replyBtn}${deleteBtn}</li>`)
                    })

                    console.log(data)
                    $('#card-modal').modal('show');
                },  
                error: function (xhr, textStatus, errorThrown) {  
                    console.log('Error in Operation');  
                }  
            });
        }

        function onReply(username, id) {
            comment.val(`@${username} `).focus()
        }

        function inviteUser(e) {
            var email = $('#invite-email').val()
            $.ajax({
                type: 'POST',
                url: 'invites/new/',
                data: { to: email },  
                contentType: 'application/json',
                success: function (data, textStatus, xhr) {  
                    // window.location.href = data.redirect
                    console.log(data)
                },  
                error: function (xhr, textStatus, errorThrown) {  
                    console.log('Error in Operation');  
                }  
            });
            
        }

        function deleteList(listPK) {
            $.ajax({
                type: 'DELETE',
                data: { pk: listPK },  
                contentType: 'application/json',
                success: function (data, textStatus, xhr) {  
                    window.location.href = data.redirect
                },  
                error: function (xhr, textStatus, errorThrown) {  
                    console.log('Error in Operation');  
                }  
            });
        }

        function deleteCard(e, listPK, cardPK) {
            e.stopPropagation()
            $.ajax({
                type: 'DELETE',
                url: 'lists/' + listPK + '/cards/',
                data: { pk: cardPK },  
                contentType: 'application/json',
                success: function (data, textStatus, xhr) {  
                    window.location.href = data.redirect
                },  
                error: function (xhr, textStatus, errorThrown) {  
                    console.log('Error in Operation');  
                }  
            });
        }

        function addCard(e, listPK) {
            var cardTitle = e.target.value
            if (e.keyCode === 13) {
                $.ajax({
                    type: 'POST',
                    url: 'lists/' + listPK + '/cards/',
                    data: { title: cardTitle },  
                    contentType: 'application/json',
                    success: function (data, textStatus, xhr) {  
                        window.location.href = data.redirect
                    },  
                    error: function (xhr, textStatus, errorThrown) {  
                        console.log('Error in Operation');  
                    }  
                });
            }
        }

        function openNav() {
            document.getElementById("mySidenav").style.width = "400px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script> 
{% endblock app_script %}
