html,
body,
main {
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
}

.sidenav {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(46, 46, 46);
    overflow-x: hidden;
    transition: 0.5s;
    color: #f1f1f1;
}

.sidenav>.sticky-top {
    padding-top: 70px;
    background: inherit;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #CCC;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.boards {
    border: 1px solid #CCC;
}

.board_list,
.list_list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    justify-items: center;
    padding: 0;
}

.board_list>li.board {
    display: inline-block;
    padding: 20px;
    width: 200px;
    text-align: center;
    margin: 0 10px 10px 10px;
}

.list_list {
    justify-content: start;
}

.popover.popover-search-boards {
    max-width: 500px;
    max-height: 300px;
    left: 9px !important;
    overflow: auto;
}

#mySidenav > .list-group-flush:last-child .list-group-item:last-child {
    margin-bottom: 1px !important;
    border-bottom: 1px solid rgba(255, 255, 255) !important;
}

/* Hiding the checkbox, but allowing it to be focused */
.badgebox
{
    opacity: 0;
}

.badgebox + .badge
{
    /* Move the check mark away when unchecked */
    text-indent: -999999px;
    /* Makes the badge's width stay the same checked and unchecked */
	width: 27px;
}

.badgebox:focus + .badge
{
    /* Set something to make the badge looks focused */
    /* This really depends on the application, in my case it was: */
    
    /* Adding a light border */
    box-shadow: inset 0px 0px 5px;
    /* Taking the difference out of the padding */
}

.badgebox:checked + .badge
{
    /* Move the check mark back when checked */
	text-indent: 0;
}